h1, h4 {
    color: white;
}

body {
    background-image: url(../Images/home8.jpg);
    background-size: 1500px 700px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 1200px auto;
    margin: 20px auto;
}


ul {
    margin-top: 10px;
    display: flex;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
}

li {
    padding: 5px;
    margin-left: 5px;
    float: right;
    padding: 10px 10px;
    color: white;
}

a {
    text-decoration: none;
    padding: 10px 10px;
    color: white;
}

.div ul {
    display: flex;
    list-style-type: none;
    margin-left: 0;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

.div li {
    display: inline block;
    padding: 5px;
    margin-left: 5px;
    float: right;
    padding: 10px 10px;
}

    .div li a {
        text-decoration: none;
        padding: 10px 10px;
    }

    .div li #name {
        margin-left: 650px;
        font-size: 160%;
    }

    .div li a:hover {
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.7);
    }

    .div li a.Active {
        border: 2px solid red;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.7);
    }

div h1,
h2, p {
    color: rgb(255, 255, 255);
    font-size: 200%;
}

.div li div {
    margin-left: 1300%;
    color: red;
}

.wrapper {
    width: 1200px auto;
    margin: 20px auto;
}

.title {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 5px;
}

.title {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    font-style: italic;
    display: block;
}

.suptitle {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    font-style: normal;
    font-size: 15px;
}

    .suptitle h4 {
        text-align: left;
        display: block;
        font-size: 15px;
        font-style: normal;
        margin-bottom: 5px;
    }

        .suptitle h4 ul {
            text-align: left;
            display: block;
            font-size: 15px;
            font-style: normal;
            margin-bottom: 5px;
        }

.logo img {
    height: 3rem;
    margin-left: 800px;
}

div {
    color: white;
    margin-left: 2%;
}
